<!-- <h2 class="btn btn-sm btn-outline-primary">ADD</h2> -->

<div class="container mt-5">
    <div class="bg-secondary text-white text-center p-3 mb-4 rounded">
        <h3 class="m-0">ngFor List Practice</h3>
    </div>


    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center bg-primary text-white">
                    Hobbies List
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let h of hobbies" class="list-group-item text-center">
                        {{ h }}
                    </li>
                </ul>
            </div>


        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center bg-warning text-white">
                    Countries List All
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let c of countries" class="list-group-item text-center">
                        {{ c }}
                    </li>
                </ul>
            </div>


        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center bg-danger text-white">
                    Languages List
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let l of languages" class="list-group-item text-center">
                        {{ l }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-header text-center bg-warning text-white">
                    Fruits List
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let f of fruits" class="list-group-item text-center">
                        {{ f }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-header text-center bg-success text-white">
                    Books List
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let b of books" class="list-group-item text-center">
                        {{ b }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-header text-center bg-dark text-white">
                    Movies List
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let m of movies" class="list-group-item text-center">
                        {{ m }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-header text-center bg-primary text-white">
                    Cities List
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let c of cities" class="list-group-item text-center">
                        {{ c }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-header text-center bg-success text-white">
                    Animals List
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let a of animals" class="list-group-item text-center">
                        {{ a }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="card">
                <div class="card-header text-center bg-danger text-white">
                    Colors List
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let C of colors" class="list-group-item text-center">
                        {{ C }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




<div class="container mt-4">
    <div class="bg-success text-white text-center p-3 mb-4 rounded">
        <h3 class="m-0">Dynamic Table with ngFor</h3>
    </div>


    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center text-primary mb-3">Students Details</h2>

            <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Marks</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let s of students; let i = index">
                        <td>{{ s.id }}</td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.course }}</td>
                        <td>{{ s.marks }}</td>
                        <td>
                            <button class="btn btn-sm btn-info mr-4">
                                <mat-icon>edit</mat-icon>

                            </button>
                            <button class="btn btn-sm btn-danger">
                                <mat-icon>delete</mat-icon>

                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h2 class="text-center text-primary mb-3">Employee Details</h2>

            <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Salary</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of employees">
                        <td>{{ e.id }}</td>
                        <td>{{ e.name }}</td>
                        <td>{{ e.dept }}</td>
                        <td>{{ e.salary }}</td>
                        <td>
                            <button class="btn btn-sm btn-info mr-4">
                                <mat-icon>edit</mat-icon>

                            </button>
                            <button class="btn btn-sm btn-danger">
                                <mat-icon>delete</mat-icon>

                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-6">
            <h2 class="text-center text-primary mb-3">Books Details</h2>

            <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of books2">
                        <td>{{ b.id }}</td>
                        <td>{{ b.title }}</td>
                        <td>{{ b.author }}</td>
                        <td>{{ b.price }}</td>
                        <td>
                            <button class="btn btn-sm btn-info mr-4">
                                <mat-icon>edit</mat-icon>

                            </button>
                            <button class="btn btn-sm btn-danger">
                                <mat-icon>delete</mat-icon>

                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-6">
            <h2 class="text-primary text-center mb-3">Products Details</h2>
            <table class="table table-bordered table-striped text-center mb-5">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.category }}</td>
                        <td>₹{{ p.price }}</td>
                        <td>
                            <button class="btn btn-sm btn-info mr-4">
                                <mat-icon>edit</mat-icon>

                            </button>
                            <button class="btn btn-sm btn-danger">
                                <mat-icon>delete</mat-icon>

                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>


        <div class="col-md-6">
            <h2 class="text-primary text-center mb-3">Movies Details</h2>
            <table class="table table-bordered table-striped text-center mb-5">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let m of movies2; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ m.title }}</td>
                        <td>{{ m.genre }}</td>
                        <td>₹{{ m.rating }}</td>
                        <td>
                            <button class="btn btn-sm btn-info mr-4">
                                <mat-icon>edit</mat-icon>

                            </button>
                            <button class="btn btn-sm btn-danger">
                                <mat-icon>delete</mat-icon>

                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>


        </div>

        <div class="col-md-6">
            <h2 class="text-primary text-center mb-3">Games Details</h2>
            <table class="table table-bordered table-striped text-center mb-5">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Rating</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let g of games; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ g.title }}</td>
                        <td>{{ g.genre }}</td>
                        <td>₹{{ g.rating }}</td>
                        <td>
                            <button class="btn btn-sm btn-info mr-4">
                                <mat-icon>edit</mat-icon>

                            </button>
                            <button class="btn btn-sm btn-danger">
                                <mat-icon>delete</mat-icon>

                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>


        </div>

        <div class="col-md-6">
            <h2 class="text-primary text-center mb-3">Cities Details</h2>
            <table class="table table-bordered table-striped text-center mb-5">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>State</th>
                        <th>population</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let g of cities2; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ g.name }}</td>
                        <td>{{ g.state }}</td>
                        <td>₹{{ g.population }}</td>
                        <td>
                            <button class="btn btn-sm btn-info mr-4">
                                <mat-icon>edit</mat-icon>

                            </button>
                            <button class="btn btn-sm btn-danger">
                                <mat-icon>delete</mat-icon>

                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>


        </div>


        <div class="col-md-6">
            <h2 class="text-primary text-center mb-3">Countries Details</h2>
            <table class="table table-bordered table-striped text-center mb-5">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>capital</th>
                        <th>population</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of countriesA; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ x.name }}</td>
                        <td>{{ x.capital }}</td>
                        <td>₹{{ x.population }}</td>
                        <td>
                            <button class="btn btn-sm btn-info mr-4">
                                <mat-icon>edit</mat-icon>

                            </button>
                            <button class="btn btn-sm btn-danger">
                                <mat-icon>delete</mat-icon>

                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>


        </div>


        <div class="col-md-6">
            <h2 class="text-primary text-center mb-3">vehicles Details</h2>
            <table class="table table-bordered table-striped text-center mb-5">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>type</th>
                        <th>price</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of vehicles; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ v.name }}</td>
                        <td>{{ v.type }}</td>
                        <td>₹{{ v.price }}</td>
                        <td>
                            <button class="btn btn-sm btn-info mr-4">
                                <mat-icon>edit</mat-icon>

                            </button>
                            <button class="btn btn-sm btn-danger">
                                <mat-icon>delete</mat-icon>

                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>


        </div>

        <div class="col-md-6">
            <h2 class="text-primary text-center mb-3">bikes Details</h2>
            <table class="table table-bordered table-striped text-center mb-5">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>price</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of bikes; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ b.name }}</td>
                        <td>{{ b.brand }}</td>
                        <td>₹{{ b.price }}</td>
                        <td>
                            <button class="btn btn-sm btn-info mr-4">
                                <mat-icon>edit</mat-icon>

                            </button>
                            <button class="btn btn-sm btn-danger">
                                <mat-icon>delete</mat-icon>

                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>


        </div>


        <div class="col-md-6">
            <h2 class="text-primary text-center mb-3">Cars Details</h2>
            <table class="table table-bordered table-striped text-center mb-5">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Price</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of cars; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ x.name }}</td>
                        <td>{{ x.brand }}</td>
                        <td>₹{{ x.price }}</td>
                        <td>
                            <button class="btn btn-sm btn-info mr-4">
                                <mat-icon>edit</mat-icon>

                            </button>
                            <button class="btn btn-sm btn-danger">
                                <mat-icon>delete</mat-icon>

                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>


        </div>

        <div class="col-md-6">
            <h2 class="text-primary text-center mb-3">Company Details</h2>
            <table class="table table-bordered table-striped text-center mb-5">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>value</th>

                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of Company; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ x.name }}</td>
                        <td>{{ x.value }}</td>

                        <td>
                            <button class="btn btn-sm btn-info mr-4">
                                <mat-icon>edit</mat-icon>

                            </button>
                            <button class="btn btn-sm btn-danger">
                                <mat-icon>delete</mat-icon>

                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>


        </div>
    </div>